public/assets/*
/.bundle/
/vendor/bundle
/lib/bundler/man/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/test/tmp/
/test/version_tmp/
*~
*.swp
*.swo
.DS_Store/*
/log/
*.gem
*.rbc
/.config
.rvmrc
